* {
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.col-full {
	flex-grow: 1;
	width: 100%;
}

.col-half {
	flex-grow: 1;
	width: 50%;
}

.col-third {
	flex-grow: 1;
	width: 33%;
}

html, body {
	width: 100%;
}

body {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

	font-family: 'Helvetica Neue';
	font-size: 14pt;

	background: #fff;
	color: #212121;
}

#wrapper {
	width: 70vw;
}

header {
	background: #FF9800;
}

.about {
	font-size: 12pt;
	line-height: 1.2em;
	font-style: italic;
}

/* terminal thingy */

.terminal {
	display: block;
	overflow: scroll;
	background: #FFFFFF;
	border-radius: 5px;
	padding: 15px;
	line-height: 1.5em;
	margin: 5px 0 5px 0;
	font-size: 12pt;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	/*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
}

.terminal p::before {
	content: "$ ";
}

.terminal p {
	color: #303F9F;
	font-family: 'Consolas', monospace;
}

.terminal p.comment::before {
	content: "# ";
}
.terminal p.comment {
	color: #BDBDBD;
}

/* main nav */

header nav {
	width: 100%;
	flex-wrap: wrap;
	margin: 15px 0 15px 0;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

header nav ul {
	display: flex;
	list-style: none;
}

header nav ul li {
	display: block;
	flex: 1;
	padding: 15px;
	text-align: center;
}

header nav ul li a {
	display: block;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

.whatissit {
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
}

.col-third, .col-half, .col-full {
	padding: 15px;
}

.img-fit {
	display: block;
	width: 100%;
	padding: 15px;
}

#banner {
	background: #fff;
}

#banner, #buckets {
	line-height: 2em;
}

#buckets .row .col-third p {
	font-size: 12pt;
}

.sep {
	display: block;
	margin: 0 auto;
	margin: 15px;
	border: 0.4px solid #BDBDBD;
}

/* tablets */
@media only screen and (max-width: 1280px) and (min-width: 600px) {
	#wrapper {
		width: 100%;
	}

	.col-half {
		width: 100%;
	}
}

/* phones */
@media only screen and (max-width: 600px) {
	#wrapper {
		width: 90%;
	}

	header nav {
		width: 100%;
	}

	header nav ul {
		flex-wrap: wrap;
		flex-direction: column;
		width: 100%;
	}

	header nav ul li {
		width: 100%;
	}

	.col-full {
		flex-grow: 1;
		width: 100%;
	}

	.col-half {
		flex-grow: 1;
		width: 100%;
	}

	.col-third {
		flex-grow: 1;
		width: 100%;
	}
}